<form method="post" action="/">
  <p>Create Your Puppy</p>
  <input name="name" placeholder="name"></input>
  <input name="breed" placeholder="breed"></input>
  <input name="age" placeholder="age"></input>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
