<!DOCTYPE html>
<head>
</head>
<body>
  <form action="/" method="post">
    <label>My Name!</label><br><input type="text" name="name" placeholder="Babe"><br><br>
    <label>Doggo Breed?</label><br><input type="text" name="breed" placeholder="Goldendoodle"><br><br>
    <label>My Age, bork!</label><br>
    <input type="integer" name="age" placeholder="2"><br><br><label>skrrra pap pap!</label><br>
    <input type="submit" value="submit">
  </form>
</body>
</html>
