<form action="/" method="post">
  Puppy Name: <input type="text" name="name" value="">
  Puppy Breed: <input type="text" name="breed" value="">
  Puppy Age: <input type="text" name="age" value="">
  <input type="submit" name="" value="submit">
</form>
