<!DOCTYPE html>
<head>
</head>
<body>
  <img src="https://s3.amazonaws.com/learn-verified/puppies.gif" alt="all the puppers!"><br>
  <h1><a href="/new">Doggo Maker!</a></h1>
  <DIV ID="some ID" STYLE="POSITION: absolute; z-index: 4; VISIBILITY: hidden; TOP
160px; LEFT: 150px;"><a href="/new">Click Here To List A Puppy</a></ID></div>
</body>
</html>
